
@{
    ViewBag.Title = "Careers";
}

<section id="careers">
    <div class="container-fluid careersContainer">
        <div class="row careersTitle">
            <div class="col-lg-12">
                <div class=" text-center mt-0 mb">

                    <h3 class="  ">Careers</h3>

                </div>
            </div>
        </div>

        <div class="row mb-4 justify-content-center align-items-center">
            <div class="col-lg-3 careerImg mr-4">

            </div>
            <div class="col-lg-6">
                <div class="workWithUs">
                    <h4>Work With Us</h4>
                </div>
                <p class="text-justify">
                    If you are looking forward to making it big, you need an arena that can provide you amazing
                    opportunities to get in there. The HVAC industry is thriving in a rapidly developing
                    industrial landscape wherein almost every major corporate and commercial segment needs to
                    cool down with efficient cooling systems.
                </p>
                <p class="text-justify">
                    To propel your career in this sector, you definitely need an organization that has what it
                    takes to command a leadership position in the industry. We believe in making a person a true
                    leader in each and every aspect. If you are a person who loves taking challenges then coming
                    here would be the right move.
                    Send your resume at &nbsp; <span><b> hr@infosonic.in</b></span>
                </p>
            </div>


        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12 col-sm-12 text-center contactBtn_onCareers mb-5 justify-content-center ">
                <h5 class="mt-3">
                    We welcome you to contact us for more information about any of our products or services.
                    </h4>
                    <h5>
                        We endeavour to reply to all enquiries in under 24 hours.
                        </h4>
                        <a href="#" class="btn text-center mb-3">Contact Us</a>
            </div>
        </div>
        <!-- <div class="row servicesBack  justify-content-center ">

             <div class="col-lg-10 col-sm-10">
                 <p>
                     If you are looking forward to making it big, you need an arena that can provide you amazing
                     opportunities to get in there. The HVAC industry is thriving in a rapidly developing
                     industrial landscape wherein almost every major corporate and commercial segment needs to
                     cool down with efficient cooling systems.
                 </p>
                 <p>
                     To propel your career in this sector, you definitely need an organization that has what it
                     takes to command a leadership position in the industry. We believe in making a person a true
                     leader in each and every aspect. If you are a person who loves taking challenges then coming
                     here would be the right move.
                     Send your resume at &nbsp; <span><b> hr@infosonic.in</b></span>
                 </p>
             </div>

         </div>
        -->
    </div>
</section>

