
@{
    ViewBag.Title = "Downloads";
}

<section id="downloadsTable">



    <div class="container-fluid">
        <div class="row  contactUsTitle justify-content-center ">
            <div class="col-lg-12">
                <div class=" text-center mt-0 mb">

                    <h3 class="  ">Downloads</h3>

                </div>
            </div>
        </div>
    </div>

    <div class="container">



        <div class="row justify-content-center mt-4">
            <div class=" text-center mt-0 mb">

                <h5 class=" mt-3 ">User Manuals </h5>

            </div>
            <div class="col-lg-11">
                <table class="table  table-hover table-dark table-bordered mb-5 mt-4">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Sr. No.</th>
                            <th scope="col" class="text-center">Product Name</th>
                            <th scope="col" class="text-center">Version</th>
                            <th scope="col" class="text-center">User Manual</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-center">1</th>
                            <td>SachivMitra</td>
                            <td class="text-center">3.1</td>
                            <td>
                                <a href="./User Manuals/smart sachiv final.pdf" download>
                                    Download
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center">2</th>
                            <td>Swatchata Netra</td>
                            <td class="text-center">2.1</td>
                            <td>
                                <a href="./User Manuals/smart sachiv final.pdf" download>
                                    Download
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center">3</th>
                            <td>Fin-Ex</td>
                            <td class="text-center">7.1</td>
                            <td>
                                <a href="./User Manuals/smart sachiv final.pdf" download>
                                    Download
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center">4</th>
                            <td>Mobile Application</td>
                            <td class="text-center"> 1.1</td>
                            <td>
                                <a href="./User Manuals/smart sachiv final.pdf" download>
                                    Download
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center">5</th>
                            <td>Petrol Pump Manager</td>
                            <td class="text-center">1.1</td>
                            <td>
                                <a href="./User Manuals/smart sachiv final.pdf" download>
                                    Download
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center">6</th>
                            <td>Digital Marketing Services</td>
                            <td class="text-center">4.1</td>
                            <td>
                                <a href="./User Manuals/smart sachiv final.pdf" download>
                                    Download
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>




    </div>






</section>

